[Unit]
Description=Mobile Recon Station

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Github/mobile-recon-station/car
ExecStart=/home/pi/Github/mobile-recon-station/car/./main.py
TimeoutSec=45s
Restart=always
RestartSec=20s

[Install]
WantedBy=multi-user.target
