[Unit]
Description=Mobile Recon Station

[Service]
Type=simple
WorkingDirectory=/home/aal/Github/mobile-recon-station/car
ExecStart=/home/aal/Github/mobile-recon-station/car/./car_service.py
TimeoutSec=45s
Restart=always
RestartSec=20s

[Install]
WantedBy=multi-user.target
